{% extends 'base.html' %}
{% block title %}
	{{ title }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
{% for item in object_list %}
<div class="card mb-3">
	<div class="card-header">
		Категория: <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
	</div>
	<div class="card-body">
		<div class="media">
			{% if item.photo %}
				<img src="{{ item.photo.url }}" alt="" width="200" class="mr-3">
			{% else %}
				<img src="https://w7.pngwing.com/pngs/998/203/png-transparent-black-and-white-no-to-camera-logo-video-on-demand-retail-website-simple-no-miscellaneous-television-text.png" alt="" width="200" class="mr-3">
			{% endif %}
			<div class="media_body">
				<h5 class="card-title">{{ item.title }}</h5>
				<p class="card-text">{{ item.content|safe|linebreaks|truncatewords:30 }}</p>
				<a href="{{ item.get_absolute_url }}" class="btn btn-primary">Смотреть...</a>
			</div>
		</div>
	</div>
	<div class="card-footer text-muted">
		{{ item.created_at|timesince}}
	</div>
</div>
{% endfor %}
{% endblock %}